html, body {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.clearfix::after, .cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear-after {
  content: ".";
  display: block;
  height: 0;
  clear: after;
  visibility: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

.rlt {
  position: relative; }

.abs {
  position: absolute; }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.ell, .toe {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.ell2, .toe2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.text-primary {
  color: #2d8cf0; }

.text-info {
  color: #0071c0; }

.text-success {
  color: #09bb07; }

.text-warning {
  color: #FEBF06; }

.text-error {
  color: #FF5946; }

.mt5 {
  margin-top: 5px; }

.mb5 {
  margin-bottom: 5px; }

.mr5 {
  margin-right: 5px; }

.ml5 {
  margin-left: 5px; }

.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mlr5 {
  margin-left: 5px;
  margin-right: 5px; }

.mg5 {
  margin: 5px; }

.pt5 {
  padding-top: 5px; }

.pb5 {
  padding-bottom: 5px; }

.pr5 {
  padding-right: 5px; }

.pl5 {
  padding-left: 5px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.plr5 {
  padding-left: 5px;
  padding-right: 5px; }

.pd5 {
  padding: 5px; }

.fs10 {
  font-size: 10px; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mlr10 {
  margin-left: 10px;
  margin-right: 10px; }

.mg10 {
  margin: 10px; }

.pt10 {
  padding-top: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pr10 {
  padding-right: 10px; }

.pl10 {
  padding-left: 10px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.plr10 {
  padding-left: 10px;
  padding-right: 10px; }

.pd10 {
  padding: 10px; }

.fs11 {
  font-size: 11px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mr15 {
  margin-right: 15px; }

.ml15 {
  margin-left: 15px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mlr15 {
  margin-left: 15px;
  margin-right: 15px; }

.mg15 {
  margin: 15px; }

.pt15 {
  padding-top: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pr15 {
  padding-right: 15px; }

.pl15 {
  padding-left: 15px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.plr15 {
  padding-left: 15px;
  padding-right: 15px; }

.pd15 {
  padding: 15px; }

.fs12 {
  font-size: 12px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mlr20 {
  margin-left: 20px;
  margin-right: 20px; }

.mg20 {
  margin: 20px; }

.pt20 {
  padding-top: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pr20 {
  padding-right: 20px; }

.pl20 {
  padding-left: 20px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.plr20 {
  padding-left: 20px;
  padding-right: 20px; }

.pd20 {
  padding: 20px; }

.fs13 {
  font-size: 13px; }

.mt25 {
  margin-top: 25px; }

.mb25 {
  margin-bottom: 25px; }

.mr25 {
  margin-right: 25px; }

.ml25 {
  margin-left: 25px; }

.mtb25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mlr25 {
  margin-left: 25px;
  margin-right: 25px; }

.mg25 {
  margin: 25px; }

.pt25 {
  padding-top: 25px; }

.pb25 {
  padding-bottom: 25px; }

.pr25 {
  padding-right: 25px; }

.pl25 {
  padding-left: 25px; }

.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.plr25 {
  padding-left: 25px;
  padding-right: 25px; }

.pd25 {
  padding: 25px; }

.fs14 {
  font-size: 14px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mr30 {
  margin-right: 30px; }

.ml30 {
  margin-left: 30px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mlr30 {
  margin-left: 30px;
  margin-right: 30px; }

.mg30 {
  margin: 30px; }

.pt30 {
  padding-top: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pr30 {
  padding-right: 30px; }

.pl30 {
  padding-left: 30px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.plr30 {
  padding-left: 30px;
  padding-right: 30px; }

.pd30 {
  padding: 30px; }

.fs15 {
  font-size: 15px; }

.mt35 {
  margin-top: 35px; }

.mb35 {
  margin-bottom: 35px; }

.mr35 {
  margin-right: 35px; }

.ml35 {
  margin-left: 35px; }

.mtb35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mlr35 {
  margin-left: 35px;
  margin-right: 35px; }

.mg35 {
  margin: 35px; }

.pt35 {
  padding-top: 35px; }

.pb35 {
  padding-bottom: 35px; }

.pr35 {
  padding-right: 35px; }

.pl35 {
  padding-left: 35px; }

.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.plr35 {
  padding-left: 35px;
  padding-right: 35px; }

.pd35 {
  padding: 35px; }

.fs16 {
  font-size: 16px; }

.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mr40 {
  margin-right: 40px; }

.ml40 {
  margin-left: 40px; }

.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mlr40 {
  margin-left: 40px;
  margin-right: 40px; }

.mg40 {
  margin: 40px; }

.pt40 {
  padding-top: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pr40 {
  padding-right: 40px; }

.pl40 {
  padding-left: 40px; }

.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.plr40 {
  padding-left: 40px;
  padding-right: 40px; }

.pd40 {
  padding: 40px; }

.fs17 {
  font-size: 17px; }

.w10 {
  width: 10px !important; }

.w5p {
  width: 5% !important; }

.w20 {
  width: 20px !important; }

.w10p {
  width: 10% !important; }

.w30 {
  width: 30px !important; }

.w15p {
  width: 15% !important; }

.w40 {
  width: 40px !important; }

.w20p {
  width: 20% !important; }

.w50 {
  width: 50px !important; }

.w25p {
  width: 25% !important; }

.w60 {
  width: 60px !important; }

.w30p {
  width: 30% !important; }

.w70 {
  width: 70px !important; }

.w35p {
  width: 35% !important; }

.w80 {
  width: 80px !important; }

.w40p {
  width: 40% !important; }

.w90 {
  width: 90px !important; }

.w45p {
  width: 45% !important; }

.w100 {
  width: 100px !important; }

.w50p {
  width: 50% !important; }

.w110 {
  width: 110px !important; }

.w55p {
  width: 55% !important; }

.w120 {
  width: 120px !important; }

.w60p {
  width: 60% !important; }

.w130 {
  width: 130px !important; }

.w65p {
  width: 65% !important; }

.w140 {
  width: 140px !important; }

.w70p {
  width: 70% !important; }

.w150 {
  width: 150px !important; }

.w75p {
  width: 75% !important; }

.w160 {
  width: 160px !important; }

.w80p {
  width: 80% !important; }

.w170 {
  width: 170px !important; }

.w85p {
  width: 85% !important; }

.w180 {
  width: 180px !important; }

.w90p {
  width: 90% !important; }

.w190 {
  width: 190px !important; }

.w95p {
  width: 95% !important; }

.w200 {
  width: 200px !important; }

.w100p {
  width: 100% !important; }

.w210 {
  width: 210px !important; }

.w220 {
  width: 220px !important; }

.w230 {
  width: 230px !important; }

.w240 {
  width: 240px !important; }

.w250 {
  width: 250px !important; }

.w260 {
  width: 260px !important; }

.w270 {
  width: 270px !important; }

.w280 {
  width: 280px !important; }

.w290 {
  width: 290px !important; }

.w300 {
  width: 300px !important; }

.wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto; }
